<p id="notice"><%= notice %></p>

<div>G-Lab: 10.766455 106.695324 | RetroKid 10.771866 106.684245 | My company 10.768016 106.696344 | FPT 10.852939 106.629545 </div>
<h2>Update Driver Location</h2>
<%= form_for(@driver, remote: true) do |f| %>
  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %>
    <%= f.text_field :long %>
  </div>
  <div class="actions">
    <%= f.submit "Update driver's location" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>

<div id="map"></div>
