<!DOCTYPE html>
<html>
  <head>
    <title>GoogleMapApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHy3TwSmenguPo4WvwSB0REjq6whax1z8&sensor=false&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
